@using EMS.Business.Dtos
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model EMS.Models.Salaries.EditSalaryViewModel

@{
    ViewData["Title"] = "Edit Salary";
}

<div class="container mt-5">
    <div class="card shadow-lg p-4">
        <h2 class="text-primary text-center fw-bold mb-4">Add Salary</h2>

        <form asp-action="Edit" method="post">
            <div class="mb-3">
                <label class="form-label fw-bold" for="UserId">Employee</label>
                <input type="text" class="form-control shadow-sm" value="@Model.Fullname" disabled />
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="UserId" />
            </div>
            <div class="mb-3">
                <label asp-for="Basic" class="form-label fw-bold">Basic Salary</label>
                <input asp-for="Basic" class="form-control shadow-sm" type="number" step="0.01" required />
            </div>

            <div class="mb-3">
                <label asp-for="Allowance" class="form-label fw-bold">Allowance</label>
                <input asp-for="Allowance" class="form-control shadow-sm" type="number" step="0.01" required />
            </div>

            <div class="mb-3">
                <label asp-for="EffectiveAt" class="form-label fw-bold">Effective Date</label>
                <input asp-for="EffectiveAt" class="form-control shadow-sm" type="date" required />
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-success px-4 shadow-sm">
                    Save
                </button>
                <a asp-action="Index" class="btn btn-secondary px-4 shadow-sm ms-2">
                    Back
                </a>
            </div>
        </form>
    </div>
</div>
